USE [TimberCalc]
GO
/****** Object:  Table [dbo].[bamboo]    Script Date: 6/11/2018 3:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bamboo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Length_ft] [int] NULL,
	[Name] [varchar](20) NULL,
	[Price] [int] NULL,
	[ActualPrice] [int] NULL,
	[DateOfActualPrice] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pinewood]    Script Date: 6/11/2018 3:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pinewood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NULL,
	[width_inch] [float] NULL,
	[height_inch] [float] NULL,
	[length_ft] [float] NULL,
	[rate] [float] NULL,
	[fright] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plywood]    Script Date: 6/11/2018 3:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[plywood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[size] [varchar](20) NULL,
	[thickness] [varchar](20) NULL,
	[weight_KG] [int] NULL,
	[cost_per_sqft] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WoodProp]    Script Date: 6/11/2018 3:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WoodProp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Length_Ft] [int] NULL,
	[Name] [varchar](20) NULL,
	[Price] [int] NULL,
	[PriceUpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bamboo] ON 

INSERT [dbo].[bamboo] ([ID], [Length_ft], [Name], [Price], [ActualPrice], [DateOfActualPrice]) VALUES (1, 24, N'Delux', 52, 244, CAST(0x0000A8EA00E77158 AS DateTime))
INSERT [dbo].[bamboo] ([ID], [Length_ft], [Name], [Price], [ActualPrice], [DateOfActualPrice]) VALUES (2, 16, N'Delux', 40, 188, CAST(0x0000A8EA00E77157 AS DateTime))
INSERT [dbo].[bamboo] ([ID], [Length_ft], [Name], [Price], [ActualPrice], [DateOfActualPrice]) VALUES (3, 24, N'Bullet', 58, 261, CAST(0x0000A8E90174CBB5 AS DateTime))
SET IDENTITY_INSERT [dbo].[bamboo] OFF
SET IDENTITY_INSERT [dbo].[pinewood] ON 

INSERT [dbo].[pinewood] ([id], [status], [width_inch], [height_inch], [length_ft], [rate], [fright]) VALUES (1, N'actual', 2.75, 1.25, 8, 470, 30)
INSERT [dbo].[pinewood] ([id], [status], [width_inch], [height_inch], [length_ft], [rate], [fright]) VALUES (2, N'selling', 3, 1.5, 8, 450, 0)
INSERT [dbo].[pinewood] ([id], [status], [width_inch], [height_inch], [length_ft], [rate], [fright]) VALUES (3, N'actual', 3.75, 2.75, 8, 470, 30)
SET IDENTITY_INSERT [dbo].[pinewood] OFF
SET IDENTITY_INSERT [dbo].[plywood] ON 

INSERT [dbo].[plywood] ([ID], [size], [thickness], [weight_KG], [cost_per_sqft]) VALUES (1, N'8x4', N'12mm', 30, 42)
INSERT [dbo].[plywood] ([ID], [size], [thickness], [weight_KG], [cost_per_sqft]) VALUES (2, N'8x4', N'12mm', 34, 46)
INSERT [dbo].[plywood] ([ID], [size], [thickness], [weight_KG], [cost_per_sqft]) VALUES (3, N'8x4', N'12mm', 24, 31)
SET IDENTITY_INSERT [dbo].[plywood] OFF
SET IDENTITY_INSERT [dbo].[WoodProp] ON 

INSERT [dbo].[WoodProp] ([ID], [Length_Ft], [Name], [Price], [PriceUpdatedOn]) VALUES (1, 8, N'Nilgiri', 64, CAST(0x0000A8F501286009 AS DateTime))
INSERT [dbo].[WoodProp] ([ID], [Length_Ft], [Name], [Price], [PriceUpdatedOn]) VALUES (2, 10, N'Nilgiri', 80, CAST(0x0000A8F50128600A AS DateTime))
INSERT [dbo].[WoodProp] ([ID], [Length_Ft], [Name], [Price], [PriceUpdatedOn]) VALUES (3, 12, N'Nilgiri', 96, CAST(0x0000A8F50128600A AS DateTime))
SET IDENTITY_INSERT [dbo].[WoodProp] OFF
